<!-- The grid: four columns -->
<script src="gal.js"></script>


<div class="row">
  <div class="column">
    <img src="1.jpg" alt="Nature" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="2.jpg" alt="Snow" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="3.jpg" alt="Mountains" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="4.jpg" alt="Lights" onclick="myFunction(this);">
  </div>
</div>

<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:100%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>